{
    "plugins": [
        "@babel/plugin-transform-runtime",
        "babel-plugin-styled-components"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "targets": {
                    "ie": "8"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
