{
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "babel-plugin-styled-components"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "targets": {
                    "ie": "8"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
